*.log
*.aux
*.cfg
*.glo
*.idx
*.toc
*.ilg
*.ind
*.out
*.lof
*.lot
*.bbl
*.blg
*.gls
*.cut
*.hd
*.dvi
*.ps
*.xdv
*.pdf
*.thm
*.fdb_latexmk
*.fls
*.synctex(busy)
*.synctex.gz
*.rpi
*~
*.bcf
*.run.xml
*.pyg
_minted-*
*.nav
*.snm
*.vrb
